@media (min-width: 640px) {
  body {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  .photo {
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 480px;
  }
}

@media (max-width: 640px) {
  .photo {
    max-width: 100%;
  }
}
