<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="style.css">
    <link
      rel="icon"
      type="image/png"
      href="/images/pudim_96x96.png" />
  </head>
  <body>
    <div>
      <h2>{{ page.title }}</h2>
      {{ page.content }}
    </div>
  </body>
</html>
